<header>
  <!--div contenedor-->
  <div class="container">
    <!--nav bar-->
    <div class="navbar">
      <!--logo de la Empresa-->
      <img src="/images/logo pestaña.ico" class="logo" alt="Logo" />
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Tienda</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>

      <!--iconos header-->
      <ul class="iconsnav">
        <li>
          <a href="./users/register"><i class="fa-solid fa-id-card"></i></a>
        </li>
        <li>
          <a href="./users/login"><i class="fa-solid fa-right-to-bracket"></i></a>
        </li>
        <li>
          <a href="./users/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
      </ul>
      <!--buscador-->
      <div>
        <input type="text" placeholder="Buscar productos... " />
        <span
          ><a href="#"><i class="fa fa-search lupa"></i></a
        ></span>
      </div>
    </div>
  </div>
</header>
