<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />
    <title>Maderas & Arte</title>
    <link rel="shortcut icon" href="/public/images/logo.ico" type="image/logo" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <script
    src="https://kit.fontawesome.com/a70485d0b7.js"
    crossorigin="anonymous"
  ></script>
  </head>

  <body class="grid-container">
    <header class="header">
      <div class="menu">
        <a href="#">Inicio</a>
        <a href="#">Sobre Nosotros</a>
        <a href="#">Tienda</a>
        <a href="#">Blog</a>
      </div>

    </header>
    <nav class="navbar">NAVBAR</nav>
    <aside class="sidebar">SIDEBAR</aside>
    <article class="main">
      <div class="grid-container">
        <div
          class="grid-item tall"
          style="
            background-image: url('https://picsum.photos/id/65/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://picsum.photos/id/881/900/900.jpg');
          "
        ></div>

        <div
          class="grid-item wide"
          style="
            background-image: url('https://picsum.photos/id/248/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://picsum.photos/id/423/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://picsum.photos/id/534/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://picsum.photos/id/664/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://picsum.photos/id/176/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://picsum.photos/id/73/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item tall wide"
          style="
            background-image: url('https://picsum.photos/id/806/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://picsum.photos/id/535/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://picsum.photos/id/943/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://picsum.photos/id/733/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://picsum.photos/id/584/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://picsum.photos/id/844/900/900.jpg');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://picsum.photos/id/160/900/900.jpg');
          "
        ></div>
      </div>
    </article>
    <footer class="footer">
      <br>
      <small>&copy; 2022 <b>Maderas & Arte</b> - Todos los Derechos Reservados.</small>
    </footer>
  </body>
</html>
