<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <section class="form-register">
        <h4>¡Bienvenidos!</h4>
        <form action="">
            <input type="text" class="controls" placeholder="Email" class="input-control">
            <input type="password" class="controls" placeholder="Contraseña" class="input-control">
              <p><a href="#">¿Olvidó su Contraseña?</a></p>
            </div>
          </div>
          <button class="botons" type="submit">Ingresar</button>
        </form>
        <p>¿No tiene Cuenta? <a href="#" class="gradient-text">Registrar</a></p>

      </div>
    </div>
  </section>
  <%- include('../partials/footer') %>
</body>
</html>